<h1>Post complete!</h1>
<h2>Where to now?</h2>
<ul> 
  <li><a href="/posts/<%=@post.id%>"> View Post </a></li>
  <li><a href="/posts/<%=@post.id%>/edit?access_key=<%=@post.access_key%>"> Edit/Delete Post </a></li>
  <li><a href="/categories"> Home </a></li>
</ul>
<p>Save this link to edit or delete your post in the future:<br>
  /posts/<%=@post.id%>/edit?access_key=<%=@post.access_key%></p>
